#renderer {
    display: block;
    margin: 32px auto 32px auto;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.join-room-container{
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.hidden-element{
    display: none;
}