.centered-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-element{
    display: none;
}

.join-room-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    width: 12.2rem;
    margin: 1rem;
}